{% extends "base.html" %}

{% block content %}

<h1>{{ sheet_name }}</h1>

<form method="POST">
  {% for i in schema %}
    <input type="text" name="add_records" placeholder="{{ i.column_name }}" value="">
  {% endfor %}
  <input type="submit" value="Add">
</form>
<table class='table table-bordered' style="width:100%">
  {% for i in schema %}
  <th>{{ i.column_name }}</th>
  {% endfor %}
  <tbody>
    {% for i in contents %}
    <tr>
      {% for j in i %}
        <td> {{ j }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
